.header{
    grid-area: head;
    background-color: aqua;
  }
  .header img{
    width: 30px;
    padding: 3px;
  }

  .loginBlock{
    float: right;
  }

  .loginBlock a{
     color:black;
    text-decoration: none;
  }